<div class="row">
<div class="col-12 text-center" style="padding: 20px; background-color: #f2f2f2;">
    <h1> <%= @user.username %> </h1>
    <h4> <%= @user.email %> </h4>
    <h1> <%= @user.bio %> </h1>
</div>
<% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, style:"width:50px; height:50px;" %>
<% end %>

<% if !(current_user.id == @user.id) %>
    <% if current_user.following?(@user) %>
        <%= button_to "Unfollow", unfollow_path(@user) %>
    <% elsif current_user.sent_follow_request_to?(@user) %>
        <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
        <%= button_to "Follow", follow_path(@user) %>
    <% end %>
<% end %>
