<%= stylesheet_link_tag("navbar.css") %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Navbar</a> %>
    <%= link_to "Home", root_path, class: "navbar-brand", style:"margin-left: 30px;" %>
    <%= render "layouts/user_search_form" %>
    <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, style:"width:50px; height:50px;" %>
        <% end %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 30px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">Link</a> %>
          <%= link_to "Upload Post", new_post_path, class:"nav-link" %>
        </li>
        <%# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> %>
        
        <li class="nav-item">
          <%# <a class="nav-link disabled" aria-disabled="true">Disabled</a> %>
          <%= link_to "About", home_about_path, class:"nav-link" %>
        </li>

        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "View My Profile", current_user, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "Edit Account", edit_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "View My Posts", posts_myposts_path, class:"nav-link"%>
            </li>
        <% end %>
        
        <% if !user_signed_in? %>
            <li class="nav-item">
                <%# <a class="nav-link disabled" aria-disabled="true">Disabled</a> %>
                <%= link_to "Sign Up!", new_user_registration_path, class:"nav-link" %>
            </li>
        <% end %>
        
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        

      <%# </form> %>
        <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item nav-link"> (<%= current_user.email  %>) </li>
            <li class="nav-item">
                <%= link_to "Signout", destroy_user_session_path, class:"nav-link", style:"border: none;"%>
            </li>
        <% end %>
        </ul>
    </div>
  </div>
</nav>
